<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/miestilo.css"> -->
</head>
<body>
    <div class="container">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="#">
          <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Bootstrap
        </a>
        </nav>
        <div class="jumbotron">
            <h1>Introduccion a CSS Dia3</h1>
            <button class="btn btn-primary btn-lg ">Login</button>
            <button class="btn btn-info btn-lg ">Login</button>
            <button class="btn btn-warning btn-lg ">Login</button>
            <button class="btn btn-danger btn-lg ">Login</button>
            <button class="btn btn-default btn-lg ">Login</button>
        </div>
        <div id="contenido">
            <h2>Bienvenidos</h2>
            <div id="articulo1" class="cajaRoja">
                <h3>Suspenden Elecciones en Rep. Dom.</h3>
                <img src="../static/img/imagen.jpeg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem cum perspiciatis accusamus quaerat fugiat quidem, repellendus provident eum similique sed ad harum beatae ut distinctio aperiam fuga error sapiente.</p>
            </div>
            <div id="articulo2" class="cajaVerde">
                <h3>Protestas por suspension de eleccionesen Rep. Dom.</h3>
                <img src="../static/img/imagen2.jpeg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatem cum perspiciatis accusamus quaerat fugiat quidem, repellendus provident eum similique sed ad harum beatae ut distinctio aperiam fuga error sapiente.</p>
            </div>
            <div class="card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mouse USB</td>
                            <td>300</td>
                            <td>20</td>
                            <td>
                                <button class="btn btn-info">Editar</button>
                                <button class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Teclado</td>
                            <td>500</td>
                            <td>50</td>
                            <td>
                                <button class="btn btn-info">Editar</button>
                                <button class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
<br>
            <div class="card">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Col- 1</h2>
                        </div>
                        <div class="col-md-8">
                            <h2>Col- 2</h2>
                        </div>
                    </div>
                    <input type="text" name="usuario" value="" placeholder="Escriba usuario"/>
                    <input type="password" name="passwd"/>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>
</html>